.Content {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 2.5fr 1fr;
}

.Profiles {
  width: 100%;
  height: 100px;
  overflow: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.Profiles::-webkit-scrollbar {
  display: none;
}

.Profiles {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  width: 90%;
  align-items: center;
}

.bottom .left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  align-items: center;
  justify-items: center;
}

.btm .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.right {
  width: 350px;
  height: 100%;
  background-color: burlywood;
  border-radius: 25px;
}

.top {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.admin-camera {
  height: 210px;
  width: 280px;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
